div.intro-banner
  img(src="banner.jpg")
div.navbar
  ul
    li 
      a(data-section="introduction") Introduction
    li 
      a(data-section="warnings") Warnings
    li 
      a(data-section="computation") Computation
    li 
      a(data-section="accuracy") Accuracy
    li 
      a(data-section="data") Historical Data
    li 
      a(data-section="results") Results
    li 
      a(data-section="references") References
    li 
      a(data-section="contact") Contact
