h1 Warnings

div.inline-500-image-left
  img(src="explosion.gif" title="Diderot, 1751, Vol. XVIII, Art Militaire, Fortification, Pl. X. This is actually an intentional detonation of a mine, sprung while besieging a fortress.")
p The history of gunpowder is fraught with accidents.  Nearly every gunpowder mill that was in operation in the 18th century ceased manufacturing when the mill exploded and killed one or more persons.  Even modern gunpowder plants suffer from explosions and loss of life.  Much effort and expense has been and continues to be devoted to reducing the danger, yet accidents continue to cause death and disfigurement of the workers and owners of mills.  It is a hazardous business.
p Although the information presented may be sufficient for manufacturing gunpowder, such a course of action cannot be recommended or sanctioned.  The risk to life and property is immense.  Even small scale operations can permanently cripple or kill.  Gunpowder can be ignited by heat, sparks, friction, concussion, and static electricity.  It is never truly safe.
p In addition to the danger, gunpowder is usually classified as a low explosive. Many, perhaps most, governments regulate the manufacture of low explosives. A license is usually required to produce gunpowder. Likewise, the manufacturing facility must be approved by the government to insure that there is comparatively little danger to neighboring homes and businesses. Before attempting to make gunpowder, please check with the local authorities and secure authorization.
