body
  padding 0
  margin 0
.navbar
  border-top 3px double #aaa
  border-bottom 3px double #aaa
  margin 0
  padding 0
  font-weight bold
  font-size 14.4px
  font-family Tahoma,Verdana,Arial,Helvetica,sans-serif
  font-variant small-caps
  line-height 1em
  color #666
  ul
    display inline
    padding 0
  li
    display inline-block
    list-style-type none
    position relative
    a 
      padding 5px
      line-height 20px
      display block
    
#b-header
  width 100%
  overflow hidden
  line-height 0
#b-content
  padding 8px
